body {
    background-color: grey;
}

h1 {
    font-family: 'Microsoft YaHei Light', 'Ink Free';
    font-weight: bold; 
    font-variant: petite-caps;
}

a:hover {
    color: gray;
}

.navbar-bg {
    display: inline-block;
    padding-top: 0.3359375rem;
    padding-bottom: 0.3359375rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: #3e3f3a;
}

.summary-text {
    font-family: 'Ink Free', 'Microsoft YaHei Light';
    font-size: 16pt;
}

navbar-bg:hover {
    background-color: #2d2e2b;
}

.img-class {
    width: 200px;
}
.img-class:hover {
    opacity: .8;
    border: 2px;
    border-color:#3e3f3a;
    border-style: solid;
}

.custom-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -13rem;
    margin-left: -1rem;
}

.custom-row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.custom-row3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.rounded {
    border-radius: 1rem!important;
    border-width: 1px;
    border-color: rgb(132 131 131);
    border-style: solid;
    box-shadow: -5px 2px 10px 0px, 0 5px 5px 0;
}
.shadow {
    box-shadow: -5px 2px 5px 0px, 0 5px 5px 0 #00000094!important;
}

/* .navbar-brand:hover {
    background-color:#4d4c4c;
} */


/*---------------------*/
/* MEDIA CALL STYLING */
/*---------------------*/

@media (max-width: 1177px) {
    body {
        background-color: white;
    }
    .rounded {
        border-width: 1px;
        border-color: white;
        border-style: solid;
        box-shadow: 0px 0px 0px 0px, 0 0px 0px 0;
    }
}

@media (max-width: 1150px) {
    .custom-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: inherit;
    }
    .custom-row3 {
        display: -ms-flexbox;
        display: contents;
        -ms-flex-wrap: wrap;
        flex-wrap: inherit;
      }
}

@media (max-width: 992px) {
    .custom-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: inherit;
      }
}

@media (max-width: 893px) {
    .img-class {
      width: 150px;
    }
  }

@media (max-width: 845px) {
    .img-class {
        width: 125px;
    }
    .custom-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: inherit;
    }
}

@media (max-width: 770px) {
    .custom-row2 {
        display: -ms-flexbox;
        display: initial;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .custom-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: inherit;
        margin-right: 0rem!important;
        margin-left: -1rem!important;
      }
}

@media (max-width: 730px) {
    .img-class {
        width: 125px;
    }
}

@media (max-width: 683px) {
    .img-class {
        width: 120px;
    }
}

@media (max-width: 663px) {
    .img-class {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .custom-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: auto;
    }
    .custom-row2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
      }
    .img-class {
        width: 200px;
    }
}
@media (max-width: 300px) {
    .img-class {
        width: 150px;
    }
    .custom-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: -2.5rem!important;
      }
    .custom-row2 {
      display: -ms-flexbox;
      display: contents;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: auto;
      margin-left: auto;
    }
}